---
const { todoEntry } = Astro.props;
const todoID = todoEntry.id;
const todoFulfill = JSON.stringify(todoEntry.fulfilled);
---

<button
    id={`todoButton_${todoID}`}
    class="todoButtons"
    data-todoID={todoID}
    data-todoFulfilled={todoFulfill}
>
    <!-- iD: {todoID} is {JSON.stringify(todoEntry.fulfilled)} -->
    <img id={`todoImg_${todoID}`} class="btnImg" src="box-checked.svg" />
</button>

<style>
    .btnImg {
        width: 100%;
        height: auto;
    }

    .todoButtons {
        background-color: grey;
        width: 90%;
        margin: 2%;
    }

    .todoButtons:hover {
        background-color: rgb(60, 219, 55);
    }
</style>

<script>
    async function toggleFulfillmentTodo(todoID: string | null) {
        if (todoID === null)
            throw new Error("todoID is null, cant update fulfillment!");

        const getDataResponse = await fetch(
            "http://localhost:8080/todo/" + todoID,
        );
        const myData = await getDataResponse.json();

        myData.fulfilled = !myData.fulfilled;

        try {
            const updateResponse = await fetch(
                "http://localhost:8080/updateTodo/" + todoID,
                {
                    method: "POST",
                    body: JSON.stringify(myData),
                    headers: {
                        "Content-Type": "application/json",
                    },
                },
            );

            if (!updateResponse.ok) {
                throw new Error(
                    "Error - Response Status:" + updateResponse.status,
                );
            }

            console.log(
                "fulfillment - updateResponse: " + updateResponse.status,
            );

            // LOL, reactivity ig
            location.reload();
        } catch (error) {
            console.error(error);
        }
    }

    const allButtons = document.getElementsByClassName("todoButtons");

    for (let currButton of allButtons) {
        // assigns button to IDs

        currButton.addEventListener("click", () =>
            toggleFulfillmentTodo(currButton.getAttribute("data-todoID")),
        );

        // assigns images corresponding to status
        var currImg = document.getElementById(
            "todoImg_" + currButton.getAttribute("data-todoID"),
        ) as HTMLImageElement;
        if (currButton.getAttribute("data-todoFulfilled") === "false") {
            currImg.src = "/box-unchecked.svg";
        } else {
            currImg.src = "/box-checked.svg";
        }
    }
</script>
